* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}

.App {
  background-color: #e5e5e5;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageSkills {
  width: 80vw;
  background: #ffffff;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1rem 3rem;
}

.checked path {
  fill: blue;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: #192a3e;
}
.pageTitle {
  margin-bottom: 50px;
  font-size: 25px;
}
.pagedesc {
  font-size: 17px;
  font-weight: 600;
  color: #192a3e;
  margin-bottom: 3px;
}
.textSmall {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.54;
}

.skillFormCont {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.basic-multi-select {
  flex-grow: 1;
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  background: #f05d23;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}

.btn {
  transition: all 0.4s ease-out;
}

.plusIcon {
  font-size: 14px;
  margin-right: 5px;
}

.skillsList {
  display: grid;
  grid-gap: 10px;
}

.skillCont {
  display: grid;
}
.skillCont .section1 {
  display: grid;
  grid-template-columns: 150px 200px;
  align-items: baseline;
  margin-bottom: 20px;
}
.skillCont .section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 25px;
}
input[type="checkbox"] {
  margin-right: 5px;
  display: inline-block;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6px;
}
.skillLevel li {
  position: relative;
}
input[type="radio"] {
  position: absolute;
  width: 45px;
  height: 45px;
  /* display: none; */
  opacity: 0;
}
.skillLevel div {
  font-size: 12px;
  opacity: 0.54;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  color: #757575;
}

.beginner path:not(:first-child) {
  fill: #192a3e;
}
.beginner path:nth-child(first) {
  fill: #192a3e;
  opacity: 0.15;
}

.advanced path:not(:first-child) {
  fill: #8d2f68;
}

.advanced path:first-child {
  fill: #8d2f68;
  opacity: 0.15;
}

.expert path:not(:first-child) {
  fill: #4482fd;
}

.expert path:first-child {
  fill: #4482fd;
  opacity: 0.15;
}

.master path:not(:first-child) {
  fill: #03a685;
}

.master path:first-child {
  fill: #03a685;
  opacity: 0.15;
}

.star path:not(:first-child) {
  fill: #ffbe3f;
}

.star path:first-child {
  fill: #ffbe3f;
  opacity: 0.15;
}

.sliderCont {
  display: flex;
  align-items: flex-start;
}

.sliderCont div {
  width: 200px;
}
