* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}

.App {
  background-color: #e5e5e5;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageSkills {
  width: 80vw;
  background: #ffffff;
  /* box shadow */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1rem 3rem;
}

.checked path {
  fill: blue;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: #192a3e;
}
.pageTitle {
  margin-bottom: 50px;
  font-size: 25px;
}
.pagedesc {
  font-size: 17px;
  font-weight: 600;
  color: #192a3e;
  margin-bottom: 3px;
}
.textSmall {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.54;
}

.skillFormCont {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.basic-multi-select {
  flex-grow: 1;
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background: #f05d23;
  color: #ffffff;
}
.btn:active {
  transform: scale(0.98);
}

.btn {
  transition: all 0.4s ease-out;
}

.plusIcon {
  font-size: 14px;
  margin-right: 5px;
}

.skillsList {
  display: grid;
  grid-gap: 10px;
  margin-top: 30px;
}

.skillCont {
  display: grid;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
}
.skillCont .section1 {
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: baseline;
  margin-bottom: 20px;
}
.skillCont .section2 {
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  align-items: center;
  grid-gap: 25px;
  justify-items: center;
  align-items: start;
}
input[type="checkbox"] {
  margin-right: 5px;
  display: inline-block;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6px;
}
.skillLevel li {
  position: relative;
}
input[type="radio"] {
  position: absolute;
  width: 45px;
  height: 45px;
  /* display: none; */
  opacity: 0;
}
.skillLevel div {
  font-size: 12px;
  opacity: 0.54;
  text-align: center;
}

.titleCont {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 10px !important;
  margin-right: 5px !important;
  color: #757575 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.titleCont button {
  margin-bottom: 10px;
  padding: 0;
}

.beginner path:not(:first-child) {
  fill: #192a3e;
}
.beginner path:nth-child(first) {
  fill: #192a3e;
  opacity: 0.15;
}

.advanced path:not(:first-child) {
  fill: #8d2f68;
}

.advanced path:first-child {
  fill: #8d2f68;
  opacity: 0.15;
}

.expert path:not(:first-child) {
  fill: #4482fd;
}

.expert path:first-child {
  fill: #4482fd;
  opacity: 0.15;
}

.master path:not(:first-child) {
  fill: #03a685;
}

.master path:first-child {
  fill: #03a685;
  opacity: 0.15;
}

.star path:not(:first-child) {
  fill: #ffbe3f;
}

.star path:first-child {
  fill: #ffbe3f;
  opacity: 0.15;
}

.sliderCont {
  display: flex;
  align-items: flex-start;
}

.sliderCont div {
  width: 200px;
}
.sliderCont div div {
  margin: 0;
}

.MuiSlider-markLabel {
  opacity: 0.54;
}

.experienceCont .counter {
  margin-top: 20px;
}

.counter {
  width: 171px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.btn-counter {
  background-color: #ffffff;
  padding: 6px;
  color: #f05d23;
}

.counter input[type="number"] {
  outline: none;
  border: none;
  display: block;
  text-align: center;
}

.submitCont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-save {
  padding: 8px 35px;
}
.btn-cancel {
  padding: 8px 30px;
  margin-right: 10px;
  background-color: #f2f2f2;
  color: #192a3e;
}

.saveSkill {
  color: #f05d23;
  position: absolute;
  top: 4px;
  right: 0;
}
.trash {
  color: #f05d23;
  position: absolute;
  top: 4px;
  left: -25px;
  cursor: pointer;
}

.login,
.register {
  width: 100vw;
  max-width: 450px;
  height: 100vh;
  max-height: 350px;
  background: #ffff;
  color: #192a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.loginHeader,
.registerHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.loginformTitle,
.registerformTitle {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-grp {
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}

.form-grp input {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  background-color: #f2f2f2;
  width: 300px;
}
.passwordGrp {
  position: relative;
}
.showPassword {
  position: absolute;
  bottom: 15%;
  right: 3%;
  color: #555555;
  cursor: pointer;
}

.submit-btn {
  background-color: #f05d23;
  padding: 0.5rem 3rem;
  color: #ffffff;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 550;
}
.submit-grp {
  display: flex;
  justify-content: center;
}

.registerDiv {
  margin-top: 0.5rem;
}
.registerLink {
  color: #f05d23;
}
